<configuration>


    <property name="logPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger -- %msg%n"/>
    <timestamp key="logFileStamp" datePattern="yyyy-MM-dd_HH:mm:ss"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>


    <appender name="FILE_WARN" class="ch.qos.logback.core.FileAppender">
        <file>logs/${logFileStamp}_WARN.log</file>
        <!--        <file>logs/jg_%d{yyyy-MM-dd_HH:mm:ss.SSS}.log</file>-->
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.FileAppender">
        <file>logs/${logFileStamp}_INFO.log</file>
        <!--        <file>logs/jg_%d{yyyy-MM-dd_HH:mm:ss.SSS}.log</file>-->
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <!--        <immediateFlush>true</immediateFlush>-->
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>


    <appender name="FILE_DEBUG" class="ch.qos.logback.core.FileAppender">
        <file>logs/${logFileStamp}_DEBUG.log</file>
        <!--        <file>logs/jg_%d{yyyy-MM-dd_HH:mm:ss.SSS}.log</file>-->
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <!--        <immediateFlush>true</immediateFlush>-->
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_TRACE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${logFileStamp}_TRACE.log</file>
        <!--        <file>logs/jg_%d{yyyy-MM-dd_HH:mm:ss.SSS}.log</file>-->
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>

        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_WARN"/>
        <appender-ref ref="FILE_INFO"/>
        <appender-ref ref="FILE_DEBUG"/>
        <appender-ref ref="FILE_TRACE"/>
    </root>
</configuration>